:root {
    --color-primary: #2C2D36;
    --color-secondary: #66DAFD;
    --border-radus-primary: 10px;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: var(--color-primary);
    color: var(--color-primary);
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    border: 3px solid var(--color-secondary);
    border-radius: var(--border-radus-primary);
    padding: 20px;
}

.display {
    text-align: center;
    font-size: 5em;
    margin: 0;
    padding: 20px 0;
    background-color: var(--color-secondary);
    border-radius: var(--border-radus-primary);
}

.max {
    color: red;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    border-radius: var(--border-radus-primary);
    border: 3px solid var(--color-secondary);
}

.button {
    font-size: 30px;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: var(--border-radus-primary);
    border: none;
    transition: all .05s linear;
}

.default {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.default:active {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.disabled {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    opacity: 0.4;
}
